/* We don't need to add the .css extension here because we are using the .css extension in the link tag */

body {
   background-color: bisque;
    color:rgb(233, 45, 45);
    font-size: 21px;
}



.my-class {
    text-align: center;
    width:1300px;
    padding:15px;
  }
  

p{
    color:rgb(0, 0, 0);
}

.quotes{
    padding: 0.2em;
    display: grid;
    grid-gap: 1em;
    border-radius: 0.3em;
    box-shadow: 10px 10px 10px rgba(146, 119, 44,0.1);
}

h1{
    font-size: 30px;
    color:rgb(255, 255, 255);
}
 
 .bottom-section{
    background-color: green;
 }
 span{
    font-size: larger;
 

}  

.top-section{
    background-color: pink;
    
}
.tab{
    color:black;
}
table,th,td {
    border: 1px solid black;
}
.note{
    font-size: 120%;
  color: rgb(60, 26, 207);
}
.container{
    box-sizing: content-box;
    padding: 5px;
    margin-bottom: 5px;
}