/* We don't need to add the .css extension here because we are using the .css extension in the link tag */

body {
    background-color: #00ccff;
    color:rgb(233, 45, 45);
    font-size: 21px;
}




p{
    color:rgb(0, 0, 0);
}

h1{
    font-size: 30px;
    color:rgb(255, 255, 255);
    
}
div {
background-color: rgb(243, 229, 234);
w 

}
