/* We don't need to add the .css extension here because we are using the .css extension in the link tag */

body {
   
    color:rgb(233, 45, 45);
    font-size: 21px;
}




p{
    color:rgb(0, 0, 0);
}

h1{
    font-size: 30px;
    color:rgb(255, 255, 255);
    
}
 
 .bottom-section{
    background-color: green;
 }
 span{
    font-size: larger;
 

}  

.top-section{
    background-color: pink;
    
}
.tab{
    color:black;
}
table,th,td {
    border: 1px solid black;
}
.note{
    font-size: 120%;
  color: rgb(60, 26, 207);
}