a{
    animation: jumping 0.5s ease 0s infinite alternate-reverse both;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .2em;
    padding: 1em 2em 1.1em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    margin-top: 200px;
    text-transform: uppercase;
    width: 10%;
    text-align: center;


}
h1{
    margin-top: 5%;
    font-family: sans-serif;
}
@keyframes jumping {
    0%{
        bottom: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    100%{
        bottom: 50px;
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1) ;
        background-color: blueviolet;
    }
    
}
