/* CSS Box Model */
/*
Margin:
Border:
Padding: */
body{

    background-color: aqua;
}

/* How to use Border */

.box{
    background: pink;
    width: 500px;
         border: 5px solid green;
        border-left-width: 5px;
        border-left-color: black;
        border-left-style: solid;
        
}

