*{
    box-sizing: border-box;
    /* justify-content: center; */
}

body{
    /* background-color: rgb(241, 241, 238); */
    background-color: #f0de7a;
    border: 2px solid #576F72;
    margin:  0% 30%   ; /* 0px 400px;  */
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: center; */
    /* justify-content: center; */
    font-weight: 600;
}

.heading{
    line-height: 1;
    background-color: #00ADB5;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    height: 100px;
}

.para{
    font-size: 30px;
}

.small{
    font-size: small;
     padding-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea{
   width:100%;
   padding: 8px;
   border: 1px solid rgb(199, 197, 197);
   border-radius: 5px;
   margin: 5px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"]{
    background-color:#00ADB5 ;
    border-color: grey;
    border-style: solid;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width:100px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

input[type="submit"]:hover{
    background-color:rgb(88, 98, 239) ;
    border-color: black;
    border-style: solid;
    color: white;
}
