* {
  padding: 0;
  margin: 0;
}
#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}
#char {
  width: 20px;
  height: 50px;
  position: relative;
  top: 150px;
}
.animate {
  animation: jump 500ms infinite;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
#block {
  width: 40px;
  height: 20px;
  background-color: brown;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite;
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}
#btn {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-left: 45%;
}
