*,*:before,*:after
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background-color: #80c5fd;
    padding: 1.8rem;
    display: flex;
    flex-direction: row;
    height: 100%;

}

.container {
    border: 2px solid white;
    width: 50%;
    /* height: 80%; */
    min-width: 350px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.output {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: grid;
    padding: 30px;
    min-width: 100px;
    place-items: center;
}

#gradient {
    height: 350px;
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient( to bottom , #dbf1ff, #7a81ff );
}

input[type="text"]{
    width: 82%;
    margin: 10px 5px 0 0;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #f1eff9;
    border-radius: 3px;
}
.code-output{
    width: 100%;
}


#copy{
   
    padding: 10px 20px;
    background-color: #0456d1;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
}

.colors{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

input[type="color"]{
    -webkit-appearance: none;
    background-color: transparent;
    width: 80px;
 margin: 20px 0;
    height: 40px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 5px;
    border: none;
}

.buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 2px solid #d5d5dc;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.rotate-icon i{
    transform: rotate(45deg);
}

.buttons .active{
    border: none;
    background-color:#0456d1;
    color: white;
}

#submit{
    display: block;
    background-color: #0456d1;
    color: white;
    font-size: 16px;
    padding: 10px 50px;  
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 20px;
}

