@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}

body{
    height: 100vh;

    background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 90%);
}

.container{
    background-color: #ffffff;
    width: 70%;
    min-height: 200px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, .15);
}


h1{
    font-size: 100;
    text-align: center;
    color: #1c093c;
}

p{
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax);
    grid-gap: 20px 30px;
    margin-bottom: 20px;

}
label{
    color: #1c093c;
    font-size: 14px;
}

textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 5px;

}

textarea{
    resize: none;

}

textarea:focus,
input:focus{
    outline: none;
    border-color: #6f6df4;
}

button{
    border:none;
    padding: 10px 20px;
    background: linear-gradient(  #03a9f5 , #03a9f5 );
    color: #ffffff;
    border-radius: 4px;
}


